#workshop {
}

.workshop {
  display: flex;
  justify-content: space-between;

  height: 370px;

  border-radius: 0 0 $border-radius__secondary $border-radius__secondary;
  background-color: #ffffff;
  overflow: hidden;

  @include breakpoint($breakpoint-laptop--medium) {
    height: 230px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;
  }

  &__picture {
    width: 50%;
  }

  &__image {
  }
}
