// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

@import "button";
@import "button-primary";
@import "button-secondary";
@import "button-outline";

$button--hover: radial-gradient(75% 75% at 50% 50%, #8c77de 0%, #d6cbff 100%);
$button--focus: #6150a7;

$button-primary__bg: #8c77de;
$button-secondary__bg: #f8f8f8;
$button-outline__border: #8c77de;